<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130941257-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-130941257-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link rel="shortcut icon" type="image/png" href="http://tasty-stats.herokuapp.com/images/favicon.png"/>

    {{!--
    <!-- COMMON TAGS --> --}}
    <meta charset="utf-8">
    <title>Tasty Stats</title>
    {{!--
    <!-- Search Engine --> --}}
    <meta name="description" content="Some hasty statistics of the Syntax.FM Podcast">
    <meta name="image" content="https://tasty-stats.herokuapp.com/images/social.jpg">
    {{!--
    <!-- Schema.org for Google --> --}}
    <meta itemprop="name" content="Tasty Stats">
    <meta itemprop="description" content="Some hasty statistics of the Syntax.FM Podcast">
    <meta itemprop="image" content="https://tasty-stats.herokuapp.com/images/social.jpg">
    {{!--
    <!-- Twitter --> --}}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Tasty Stats">
    <meta name="twitter:description" content="Some hasty statistics of the Syntax.FM Podcast">
    <meta name="twitter:creator" content="@mikecabana">
    <meta name="twitter:image:src" content="https://tasty-stats.herokuapp.com/images/social.jpg">
    {{!--
    <!-- Open Graph general (Facebook, Pinterest & Google+) --> --}}
    <meta name="og:title" content="Tasty Stats">
    <meta name="og:description" content="Some hasty statistics of the Syntax.FM Podcast">
    <meta name="og:image" content="https://tasty-stats.herokuapp.com/images/social.jpg">
    <meta name="og:url" content="https://tasty-stats.herokuapp.com">
    <meta name="og:site_name" content="Tasty Stats">
    <meta name="og:type" content="website">

    <title>Tasty Stats - Some hasty statistics of the Syntax.FM Podcast</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script async src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        @font-face {
            font-family: "Foxlite";
            src: url("fonts/Foxlite.otf") format('opentype'),
                url("fonts/Foxlite.ttf") format('truetype');
        }

        .foxlite-font {
            font-family: 'Foxlite';
        }

        .hero-header {
            font-size: 7rem;
            letter-spacing: 10px;
            font-weight: 500;
        }

        .hero-link {
            color: rgba(0, 0, 0, .7);
            font-weight: 550;
        }

        .hero-link:hover {
            color: grey !important;
        }

        .hero-subtitle {
            font-size: 18px;
        }

        .icon-link {
            color: #4a4a4a;
        }

        .icon-link:hover {
            color: #ffdd57;
        }

        .w-100 {
            width: 100%;
        }
    </style>
</head>

<body>
    <section class="hero is-medium is-warning is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title foxlite-font hero-header">
                    Tasty Stats
                </h1>
                <h2 class="subtitle hero-subtitle">
                    Some <span class="foxlite-font" style="font-weight: 500; letter-spacing: 2px; font-size: 23px;">hasty</span>
                    statistics of the <a class="hero-link" href="https://syntax.fm">Syntax FM</a> Podcast
                </h2>
            </div>
        </div>
    </section>
    {{{body}}}
</body>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            &copy; 2018 - Made by <a href="https://github.com/mikecabana" target="_blank">@mikecabana</a> with &hearts;
            of the <a href="https://syntax.fm" target="_blank">Syntax</a>
            podcast.
        </p>
        <a href="https://github.com/mikecabana/tasty-stats" class="icon-link" target="_blank">
            <span class="icon is-medium" style="font-size: 2rem;">
                <i class="fab fa-lg fa-github"></i>
            </span>
        </a>
        <p style="margin-top: 10px;"><strong>Congrats on 100 episodes!</strong></p>
        <p>PEEEACE!</p>
    </div>
</footer>

</html>